html. body {
	height: 100%;
	width: 100%;
	background-color: #fcfcfc;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.root {
	background-color: #fff;
	-webkit-box-shadow: 0 3px 8px 5px rgba(0,0,0,0.05);
	box-shadow: 0 3px 8px 5px rgba(0,0,0,0.05);
	border: 1px solid #ccc;
}